<div class="images-container">
    <div *ngFor="let image of bookmarked$ | async" class="images-card" 
            [ngStyle]="setGridRowEnd(img.clientHeight)" 
            (mouseenter)="info.nextSibling.classList.add('show'); img.classList.add('blur')" 
            (mouseleave)="info.nextSibling.classList.remove('show'); img.classList.remove('blur')"
            >
        <img 
            [src]="'https://live.staticflickr.com/' + image.server + '/' + image.id + '_' + image.secret + '.jpg'"
            (load)="0"
            #img
            >
        <ng-container #info>
            <div class="image-description">
                <button mat-button color="accent" (click)="onBookmarkRemove(image)" class="btn">Remove</button>
            </div>
        </ng-container>
    </div> 
</div>
