mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover, a:active {
    color: lightgray;
}

mat-toolbar {
    border-radius: 3px;
}

.container {
    width: 1620px;
    margin: 0 auto;
}

.nav-list {
    margin-left: 150px;
}

.nav-list a {
    margin-right: 25px;
}

.account {
    margin-right: 150px;
}

.hidden {
    visibility: hidden;
}



@media(max-width: 959px) {
    mat-toolbar {
        border-radius: 0px;
    }
}
