<mat-toolbar color="primary" fxLayout fxLayoutAlign="space-around center">
    <div fxFlex.lt-sm fxHide.gt-sm>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <a routerLink="">Search</a>
    <a routerLink="bookmarks">Bookmarks</a>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
</mat-toolbar>
<router-outlet></router-outlet>
   