<div class="images-container" *ngIf="images; else void">
    <div *ngFor="let image of images" class="images-card" 
        [ngStyle]="setGridRowEnd(img.clientHeight)"
        (mouseenter)="info.nextSibling.classList.add('show'); img.classList.add('blur')" 
        (mouseleave)="info.nextSibling.classList.remove('show'); img.classList.remove('blur')"
        >
        <img 
            [src]="'https://live.staticflickr.com/' + image.server + '/' + image.id + '_' + image.secret + '.jpg'"
            (load)="0"
            #img
        >
        <ng-container #info>
            <div class="image-description">
                <button mat-button color="accent" (click)="onBookmarkClick(image)" class="btn">Bookmark</button>
            </div>
        </ng-container>
    </div> 
</div>

<ng-template #void>
    <span style="color: #333; display: block; text-align: center;">No images here. Would you try to search for anything else?</span>
</ng-template>

<app-paginator fxLayoutAlign="center baseline" [numberOfPages]="pages" (currPage)="onPageClick($event)"></app-paginator>
